body {
    background-color: bisque;
    background-image: url("images/image\ copy\ 2.png");

    background-size: cover;
    background-repeat: no-repeat;



}


.tabs {
    display: flex;
    gap: 3%;
    width: 250%;
    /* justify-content: space-evenly; */
    margin-right: 1%;
    justify-content: center;






}


.header_nav {
    display: flex;
    align-items: center;

    /* width:; */
    margin: auto;
    /* margin-top: -10px; */
    background-color: rgba(187, 128, 69, 0.861);
    border-radius: 30px;
    height: 4vw;
    border: 0.1vw solid blueviolet;
    box-shadow: 0.5px 0.5px 20px rgb(135, 24, 238);

    .tab {
        font-size: 1.3vw;
    }










}



@media all and (max-width:883px) {
    .tab {
        font-size: 1.3vw;
    }

    .data {
        font-size: 1vw;


    }

    body {
        background-repeat: no-repeat;
        background-size: cover;
    }


}

.header_nav:hover {

    border: 0.1vw solid red;
    box-shadow: 3px 3px 50px red;
    border-radius: 30px;

}



@keyframes colorchange {
    0% {
        color: rgb(119, 7, 96);
        text-shadow: 2px 2px black;
    }

    50% {
        color: rgb(0, 0, 0);
        text-shadow: 2px 2px rgb(248, 3, 224);
    }

    100% {
        color: rgb(119, 7, 96);
        text-shadow: 2px 2px black;
    }


}

.name {

    width: 150%;
    font-family: cursive;
    font-size: 150%;
    animation-name: colorchange;
    animation-iteration-count: infinite;

    animation-duration: 10s;
    animation-delay: 5sec;



}

a {
    text-decoration: none;
    font-size: 140%;
    font-weight: bold;


}

.tab:hover {
    transform: scale(1.1);


}

a:hover {
    color: rgba(15, 65, 248, 0.857);
    text-shadow: 1px 1px 20px red;
    cursor: pointer;
}

.head {



    margin-top: -3%;

    font-family: cursive;
    font-size: 3vw;
    text-align: center;
    animation-name: colorchange;
    animation-iteration-count: infinite;

    animation-duration: 10s;
    animation-delay: 5sec;



}

.data {



    font-style: italic;
    font-size: 30px;


    text-align: center;
    font-weight: bold;
    color: rgb(192, 15, 232);
    transition: all 5s;
    text-shadow: 2px 2px 4px bisque;





}

.data:hover {
    transform: scale(1.1);
    color: brown;
    text-shadow: 2px 2px 50px black;



}

.line {
    height: 0.4vw;
    width: 100px;
    background-color: aqua;
    margin: 20px;
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    visibility: hidden;
    display: flex;
    justify-content: center;
    margin-left: -10px;



}

@keyframes move {
    0% {

        visibility: visible;



    }

    50% {
        width: 100vw;
        background-color: red
    }

}

.line2 {
    height: 0.4vw;
    width: 100px;


    background-color: black;
    margin: 20px;
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    visibility: hidden;
    display: flex;
    justify-content: center;
    animation-delay: 2s;
    margin-left: -10px;


}


@media screen and (max-width:978px) {


    body {
        background-image: none;

    }


    .tabs {
        font-size: 5rem;
        ;


        display: flex;
        flex-direction: column;
        text-align: center;
        top: 10px;

        align-items: center;
        justify-content: center;

        height: fit-content;






    }

    .tab {
        font-size: 5rem;
    }

    .header_nav {
        border-radius: none;
        border-color: none;
        border: none;
        box-shadow: none;
        height: fit-content;
        margin: 2px;





    }


    .data {
        font-size: 20px;

    }
    
}