body {
    background-image: url("images/image\ copy\ 12.png")
}

.main {
    display: flex;
    background-color: rgba(56, 80, 151, 0.407);
    border-bottom: 5px solid black;
    border-radius: 20px;
}


.in1 {
    text-align: center;
    width: 600px;

    position: relative;
    font-family: cursive;
    font-size: 50px;
    height: 100px;
    font-weight: 900;
    text-align: left;
    ;
    margin-left: 5px;

    animation-name: colorchange;
    animation-iteration-count: infinite;

    animation-duration: 10s;


    animation-delay: 5sec;



}

@keyframes colorchange {
    0% {


        font-weight: bold;
        color: rgb(255, 0, 0);
        text-shadow: 2px 2px black;


    }

    30% {

        color: white;

        text-shadow: 2px 2px rgba(255, 0, 0, 0.956);

    }

    60% {


        color: rgb(255, 0, 0);


        text-shadow: 2px 2px black;

    }

    80% {


        color: white;

        text-shadow: 2px 2px rgba(255, 0, 0, 0.956)
    }

    100% {


        color: rgb(255, 0, 0);


        text-shadow: 2px 2px black;


    }
}




.out2 {
    display: flex;
    font-size: 25px;
    width: 1200px;
   
    color: white;
    margin: right 0px;
    margin-top: 10px;
    height: 40px;
    padding-top: 10px;
animation-duration: 5s;









}

a {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px black;
    opacity: 80%;



}

a:hover {
    color: blueviolet;
    text-shadow: 1px 1px black;
    font-size: 27px;

}

.in {
    border-radius: 20px;
    height: 30px;
    padding: 3px;
    font-weight: bold;
    background-size: cover;
    background-position: bottom;




    text-shadow: 0.5px 0.5px white;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.in:hover {
    color: blueviolet;

}

.outeer6 {
    text-align: center;
    font-size: 30px;
    color: white;
    border-radius: 20px;
    margin-bottom: 10px;
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    font-weight: bold;
    text-shadow: 1px 1px red;
    font-style: italic;
    margin-top: 15px;


    ;
}


.search {
    /* background-color: pink; */

    margin-top: 20px;
    /* display: inline-block; */

    display: grid;
    grid-template-columns: 1fr 1fr;



    color: white;
    text-align: center;

    height: 100px;
    font-size: 30px;

}

input {
    font-size: 25px;
    ;
    /* display: inline-block; */

}

.im {
    /* display: inline-block; */
    margin-right: 10px;

}

.image {
    background-color: white;
    width: 30px;
    height: 30px;
    margin-left: 0px;
    /* display: inline-block; */
}

.sea {
    display: flex;

}










.details {
    margin-top: 40px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    ;


    gap: 40px;

    margin-left: 100px;



}

.det {
    height: 450px;
    width: 600px;
    background-color: rgba(0, 64, 255, 0.405);
    border-radius: 40px;




}

.img2 {
    height: 250px;
    width: 500px;
    border-radius: 20px;
    margin-left: 50px;


    margin-top: 10px;
    opacity: 90%;
    box-shadow: 2px 2px blanchedalmond;
    ;

}

.detname {
    margin-top: 0px;
    ;
    color: rgba(195, 255, 0, 0.704);
    font-size: 25px;
    margin: auto;
    text-align: center;
    ;

    line-height: 10px;
    font-weight: bold;
    ;
    text-shadow: 1px 1px white;
}


.a1:hover {
    /* height:500px;
    width:650px;
    font-size:40px;
    margin:auto;
    margin-left:10px;
     */

    transform: scale(1.1);
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.405);

}

.a2:hover {
    /* height:500px;
    width:650px;
    font-size:40px;
    margin:auto;
    margin-left:10px;
     */

    transform: scale(1.1);
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.405);

}

.a3:hover {
    /* height:500px;
    width:650px;
    font-size:40px;
    margin:auto;
    margin-left:10px;
     */

    transform: scale(1.1);
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.405);

}

.a4:hover {
    /* height:500px;
    width:650px;
    font-size:40px;
    margin:auto;
    margin-left:10px;
     */

    transform: scale(1.1);
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.405);

}

.a5:hover {
    /* height:500px;
    width:650px;
    font-size:40px;
    margin:auto;
    margin-left:10px;
     */

    transform: scale(1.1);
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.405);

}

.a6:hover {
    /* height:500px;
    width:650px;
    font-size:40px;
    margin:auto;
    margin-left:10px;
     */

    transform: scale(1.1);
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.405);

}

.a7:hover {
    /* height:500px;
    width:650px;
    font-size:40px;
    margin:auto;
    margin-left:10px;
     */

    transform: scale(1.1);
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.405);

}

.a8:hover {
    /* height:500px;
    width:650px;
    font-size:40px;
    margin:auto;
    margin-left:10px;
     */

    transform: scale(1.1);
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.405);

}

.a9:hover {
    /* height:500px;
    width:650px;
    font-size:40px;
    margin:auto;
    margin-left:10px;
     */

    transform: scale(1.1);
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.405);

}

.a10:hover {
    /* height:500px;
    width:650px;
    font-size:40px;
    margin:auto;
    margin-left:10px;
     */

    transform: scale(1.1);
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.405);

}




/* writing the code for the search bar */

.ss {

    margin-top: 22px;
    display: flex;


    ;
    margin-left: 20px;
    border-radius: 20px;
    ;



}


.imgg {
    height: 29px;
    width: 30px;

    border: 1px solid black;
    display: inline-block;
    /* background-image: url("images/image\ copy\ 18.png");; */
    background-color: antiquewhite;
    cursor: pointer;



}

input {
    height: 30px;

    display: inline-block;
    border: 1px solid black;
    background-color: beige;





}

.nn3 {
    display: inline-block;
    margin-left: 30px;
    font-size: 30px;
    height: 25px;



}


select {
    font-size: 22px;
    margin-top: 23px;
    background-color: beige;
    border-radius: 30px;
}

.m1 {
    display: flex;
    text-align: center;
    margin: auto;
    justify-content: center;
    background-color: rgba(42, 151, 165, 0.599);
    width: 900px;
    height: 70px;
    margin-top: 30px;
    border: 1px solid black;

    border-radius: 40px;
    ;


}

.nn1 {
    font-size: 30px;
    margin-top: -11px;
    margin-left: 40px;
    margin-right: 10px;
    color: rgb(255, 243, 11);
    text-shadow: 1px 1px white;


}

.m1:hover {

    transform: scale(1.1);
    background-color: rgba(0, 0, 255, 0.481);
}