body{
    background-color: rgba(237, 160, 84, 0.508);
  
    


}


.tabs {
    display: flex;
    gap: 3%;
    width: 250%;
    /* justify-content: space-evenly; */
    margin-right: 1%;
    justify-content: center
    ;





}


.header_nav {
    display: flex;
    align-items: center;

    /* width:%; */
    margin: auto;
     background-color: rgb(187, 128, 69);
    border-radius: 30px;
   height:70px;
   border:2px solid blueviolet;
   box-shadow: 0.5px 0.5px 20px rgb(135, 24, 238);
   position: fixed;
   top:0px;
   width: 99vw;
   z-index:1000;



  









}
.header_nav:hover{
    
      border:2px solid brown;
      box-shadow: 2px 2px 50px brown;
    border-radius:30px;

}



@keyframes colorchange {
    0% {
        color: rgb(119, 7, 96);
        text-shadow: 2px 2px black;}
    50%{
        color:rgb(0, 0, 0);
        text-shadow: 2px 2px rgb(248, 3, 224);
    }
    100%{
        color: rgb(119, 7, 96);
        text-shadow: 2px 2px black;}
    
    
}

.name {
   
    width:150%;
    font-family: cursive;
    font-size: 150%;
    animation-name: colorchange;
    animation-iteration-count: infinite;

    animation-duration: 10s;
    animation-delay: 5sec;
    margin-left:10px;



}
.headanchor{
    text-decoration: none;
    font-size: 140%;
    font-weight: bold;


}
.tab:hover{
    transform: scale(1.1);
    

}
.headanchor:hover{
    color:rgba(15, 65, 248, 0.857);
    text-shadow: 1px 1px 20px red;
    cursor: pointer;
}
a{
    text-decoration: none;
    cursor:pointer;



}



.outer{
    height:550px;
    width:500px;
    background-color: antiquewhite;

    border-radius: 20px;
    margin:auto;
    margin-top: 80px;
    /* border:2px solid black; */
   

background-color: rgba(69, 122, 192, 0.704);
    background-size: cover;
    /* box-shadow: 8px 8px brown; */


}
#head{
    text-align: center;
    position: relative;
    /* top:10px; */
    font-family: cursive;
    font-size:50px;
    text-shadow:2px 2px red;






}
hr{
    font-weight: bold;
    border-color: black;


}
form{
    margin-left:30px;

    font-size: 20px;
   
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin:auto;
     margin-top:140px;

  background-color: rgba(237, 160, 84, 0.508);
 width:500px;
    height:600px;
    padding-top: 20px;
    box-sizing: border-box;
    border-radius: 40px;
    box-shadow: 2px 2px 50px;
    transition: all 3s ;
   

}
form:hover{
    transform: scale(1.1);
}
#s1h{
   color: black;
    /* margin-right:50px; */
    margin-bottom: 20px;
    font-size: 22px;
    text-shadow: 0.5px 0.5px black;



}
input{
    font-size: 18px;
    
    text-align: center;
    color:rgb(6, 6, 6);
    
    background-color: rgba(243, 109, 7, 0.272);
    border-radius: 10px;
    margin-left:10px;
    height:25px;
    


 


}
.inner2{
 
    font-weight: bold;
    font-size: 30px;
    color:#000000d0;
    margin-bottom:20px;
    text-align: center;
    text-shadow: 1px 1px rgb(147, 135, 58);


}
.b1{
    width: 100px;
    height:30px;
    text-align: center;

     background-color: rgba(237, 160, 84, 0.608);
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    border:2px solid rgb(55, 39, 39);
    margin-top: 20px;
}
.inner3{
    font-size:medium;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    color:blue;


}
.inner4{
    display: flex;
    flex-direction: row;
    height:40px;

  


    
    width:400px;
    margin-top: 20px;
    border:1px solid black;
    justify-content: center;
    align-items: center;
    padding:0px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;

    margin-left:50px;
      background-color: rgba(245, 170, 112, 0.149);





}
#google{
    display: inline-block;
   
    margin-left: 10px;
    font-size: 18px;


}

.zig{

    height: 100px;
    width:100px;
    border-radius: 50%;
    /* background-color: rgb(245, 53, 0); */
    margin-top:100px;
    margin-left:30px;

    ;
    opacity: 40%;
    animation-name: motion;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    /* box-shadow: 2px 2px 40px red; */

     background-color: rgba(101, 70, 23, 0.811);;
         box-shadow: 2px 2px 40px rgba(101, 70, 23, 0.811);;
        
}


.design{
    display: flex;
    justify-content: space-evenly;

}
@keyframes motion {

    0%{

        transform: translate(0px,0px);

    background-color: rgba(101, 70, 23, 0.811);;

    }
    25%{

        transform: translate(300px,300px);

        background-color: rgb(172, 112, 6)
;
 box-shadow: 2px 2px 40px rgb(172, 112, 6)
;
    }
    50%{
        transform: translate(0px,600px);
         background-color: rgba(101, 70, 23, 0.811);;
         box-shadow: 2px 2px 40px rgba(101, 70, 23, 0.811);;
        

    }
    75%{

 transform: translate(300px,300px);

        background-color: rgb(172, 112, 6)
;
 box-shadow: 2px 2px 40px rgb(172, 112, 6)
;
        


    }

    
}

.zig2{

    height: 100px;
    width:100px;
    border-radius: 50%;
   
    margin-top:100px;
    margin-left:30px;
    background-color: rgb(172, 112, 6)

    ;
    animation-name: motion2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    box-shadow: 2px 2px 40px rgb(172, 112, 6);
    opacity:40%;

}
.design{
    display: flex;
    justify-content: space-evenly;

}
@keyframes motion2{

    0%{

        transform: translate(0px,0px);

 background-color: rgb(172, 112, 6)


    }
    25%{

        transform: translate(-300px,300px);

        background-color: rgba(101, 70, 23, 0.811);
         box-shadow: 2px 2px 40px rgba(101, 70, 23, 0.811);;
    }
    50%{
        transform: translate(0px,600px);
          background-color: rgb(172, 112, 6)
;
 box-shadow: 2px 2px 40px rgb(172, 112, 6)
;


    }
    75%{

 transform: translate(-300px,300px);

        background-color: rgba(101, 70, 23, 0.811);;
         box-shadow: 2px 2px 40px rgba(101, 70, 23, 0.811);;
        


    }


    
}
input{
    float: right;
    margin-right:30px;

}
@media (max-width:1390px){

    .tabs{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        /* margin:-1px; */
        

        background-color: rgb(187, 128, 69);
        margin-bottom:20px;


            margin-top:0px ;
                width: 100%;

        

    }

.header_nav {

    flex-direction: column;
    text-align: center;

     margin-left:-10px;
     border:none;
     box-shadow: none;
     ;
     width:100%;
     margin-left:-10px;
     height:fit-content;
     position:static;


     width:100%;

     





}

h1{

padding:0px;
 margin:0dvb;

} 

.design{


    margin-top: 110px;

}

.zig2{


    display: none;

}
.zig{
    display: none;
}


form{
     height:fit-content;
    padding:10px;
    margin-top:-10px;

    

    
}
.name{
    width: fit-content;
}
}
